ErrorDocument 404 http://moskovka.su
ErrorDocument 403 http://moskovka.su
ErrorDocument 500 http://moskovka.su

Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule (.*) http://moskovka.su/$1 [R=301,L]