.hidden {
  display: none;
}

.awesome-link() {
  a {
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid rgb(156, 193, 217);
    #mlf > .transition(border 500ms);

    &:hover {
      border-bottom-color: #000;
    }
  }
}

.awesome-button() {
  border: 1px solid #666666;
  #mlf > .border-radius(4px);
  #mlf > .box-shadow(1px 1px 2px #cccccc);
  #mlf > .linear-gradient(top, #333333, #999999);
  padding: 4px 8px;
  color: #ffffff;

  &:hover {
    #mlf > .box-shadow(1px 1px 2px #999999);
    #mlf > .linear-gradient(top, #444444, #aaaaaa);
    #mlf > .line-text-shadow(#333333);
  }

  &:active {
    #mlf > .linear-gradient(top, #111111, #666666);
  }
}